{% extends 'paneldecontrol/base.html' %} {% load static %}

{% block title  %}Inicio{% endblock  %}
{% block content %}
    <body class="dashboard">
            <div>
              <nav>
                <h1>Sistema de Gestion</h1>
              </nav>
              <div class="card">
                {% if request.user.is_authenticated %}
                <hr>
                <h2 class="text-center">
                  bienvenido, {{user.username | upper}}
                </h2>
                {% endif %}
                  <div class="card-body d-grid gap-2 col-6 mx-auto">  
                  <ul>
                   {% if request.user.is_authenticated %}
                      <a href="{% url 'registros'  %}"><button class="btn btn-outline-secondary card-img-top btn-lg"><img src="{% static 'images/registro.png' %}" id="logo" width="80px" alt="helado" /> registros</button></a>
                      <a href="{% url 'inventario'  %}"><button class="btn btn-outline-secondary card-img-top btn-lg"><img src="{% static 'images/helado.png' %}" id="logo" width="100px" alt="helado" />  Inventario</button></a>
                      <a href="{% url 'registroproducto'  %}"> <button class="btn btn-outline-secondary card-img-top btn-lg"><img src="{% static 'images/añadir.png' %}" id="logo" width="60px" alt="helado" />   añadir producto</button></a>
                    {% else %}
                  <h1 class="text-center">Bienvenido a el sistema de gestion de la heladeria hipotetica,
                  para su uso ingrese
                    <a href="{% url 'login' %}" class=""> aqui</a>
                  </h1  > 
                {% endif %}
                </ul>
              </div>
              </div>
              </div>
            </div>
    </body>
{% endblock %}